.modal-erro {
    border-top: 5px solid #d32f2f;
}

.modal-header-erro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
    padding: 18px 24px 10px 24px; /* 👈 24px na esquerda e direita */
}

.modal-header-erro h3 {
    margin: 0;
    color: var(--text-color);
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

.justify-center {
    justify-content: center !important;
}

.btn-entendi {
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-entendi:hover {
    background-color: var(--bg-hover);
}